#main{
    text-align: center;

}
    

img{
    width: auto;
    height: 200px;
}

a{
    text-decoration: none;
    display: block;
}
.recipe-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.recipe{
    margin: 20px;
    display: inline-block;
}

button{
    display: block;
    margin: 0 auto;
    border-right: 4px solid black;
    border-bottom: 4px solid gray;
    border-top: 0;
    border-left: 0;
}

.recipe-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
}