#main{
    text-align: center;
    color: darkgray;
    background-color: beige ;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
body{
    background-image: url('./images/baganmm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}    

img{
    width: auto;
    height: 200px;
}

a{
    text-decoration: none;
    display: block;
}
.recipe-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.recipe{
    margin: 20px;
    display: inline-block;
}

button{
    display: block;
    margin: 0 auto;
    border-right: 4px solid black;
    border-bottom: 4px solid gray;
    border-top: 0;
    border-left: 0;
}

.recipe-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
}